body {
    background-color: #333;
}

h1 {
    color: #fff;
    font-family: sans-serif;
}

p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}